.header {
  padding: 0 104px;
  background: url(../../images/jpg/bg.jpg);
  background-position: top;
  overflow: auto;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__logo {
  font-family: 'RobotoSlab', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: url(../../images/svg/lapka.svg), auto;
  margin: 0;
  width: 200px;
}

@media screen and (max-width: 1150px) {
  .header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background: url(../../images/jpg/bg-tablet.jpg);
    background-position: top;
  }
}

@media screen and (max-width: 710px) {

  .header__logo {
    padding: 21px 0 20px 0;
    z-index: 1;
  }
}

@media screen and (max-width: 536px) {

  .header {
    padding: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    background: url(../../images/jpg/bg-mobile.jpg) no-repeat;
  }
}