.header {
  padding: 0 104px;
  background: url(../../images/jpg/bg.jpg);
  background-position: top;
  overflow: auto;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__logo {
  font-family: 'RobotoSlab', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: url(../../images/svg/lapka.svg), auto;
  margin: 0;
  width: 200px;
}

.header__nav {
  font-family: 'Roboto', 'Arial', sans-serif;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  box-sizing: border-box;
}

.header__nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__nav-link {
  display: block;
  color: #fff;
  position: relative;
  text-decoration: none;
  margin-left: 34px;
  padding: 30px 0 26px 0;
  box-sizing: border-box;
  cursor: url(../../images/svg/lapka.svg), auto;
}

.header__nav-link:hover::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #fff;
}

.header__nav-button {
  margin: 0;
  color: #fff;
  width: 112px;
  padding: 12px 37px 12px 19px;
  background: none;
  margin-left: 32px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  position: relative;
  cursor: url(../../images/svg/lapka.svg), auto;
  outline: none;
}

.header__nav-button::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../../images/svg/logout-w.svg) no-repeat;
  top: 10px;
  right: 15px;
}
#header__btn-burger {
  display: none;
}

@media screen and (max-width: 1150px) {
  .header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background: url(../../images/jpg/bg-tablet.jpg);
    background-position: top;
  }

  .header__nav-link {
    padding: 21px 0 20px 0;
    margin-left: 16px;
  }

  .header__nav-button {
    margin-left: 16px;
    padding: 8px 29px 8px 15px;
  }

  .header__nav-button::after {
    top: 6px;
    right: 12px;
  }
}

@media screen and (max-width: 710px) {

  .header__logo {
    padding: 21px 0 20px 0;
    z-index: 1;
  }

  .header__btn-menu {
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .header__btn-menu>span,
  .header__btn-menu>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 8px;
    background-color: #fff;
    transition: all .2s linear;
  }

  .header__btn-menu>span::after {
    content: '';
    top: 8px;
  }

  .header__nav-links {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    background-color: #000;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .header__nav-link {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  #header__btn-burger:checked ~ .header__btn-menu > span {
    transform: rotate(45deg);
    transition: all .2s linear;
  }

  #header__btn-burger:checked ~ .header__btn-menu > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: all .2s linear;
  }
  #header__btn-burger:checked ~ .header__nav-links {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    left: 0;
  }

}